<div class="datadrager-card" style="background-color:none">
    <form class="flex-container" style="background-color:transparent">
        <fieldset>
        <legend><span class="fs-span">&nbsp;Statements & Achievements&nbsp;</span></legend>
            <table>
                <tr>
                    <td style="flex-wrap:wrap"><textarea @bind="Curriculum.Meta" /></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>


@code {
    [CascadingParameter]
    public Curriculum Curriculum { get; set; }
}