<div id="whitefont">

	@foreach (Vaardigheden item in Curriculum.LijstVaardigheden)
     {
        <div>
            <fieldset>
                <legend>&nbsp;Kennis en Vaardigheden&nbsp;</legend>
                <table>
                    <tr>
					<td>&nbsp;&nbsp;&nbsp;Omschrijving</td>
                        <td><input @bind="item.Omschrijving" /></td>
					<td>
						<button class="minus" @onclick="() => Delete(item)">&nbsp;</button>
					</td>
                    </tr>
                    <tr>
					<td>&nbsp;&nbsp;&nbsp;Toelichting</td>
                        <td><input @bind="item.Toelichting" /></td>
						<td></td>

                    </tr>
                </table>
            </fieldset>
        </div>
        <br />
     }
	 <div>
		<span style="float:right">
			<button class="plus" @onclick="Add">&nbsp;</button>
		</span>
	</div>

</div>


@code {
	[CascadingParameter]
	public Curriculum Curriculum { get; set; }

	[CascadingParameter]
	public XMLData XmlData { get; set; }

	void Add()
	{
	Vaardigheden vh = new Vaardigheden();
	vh.Id = Curriculum.LijstVaardigheden.Count() + 1;
	Curriculum.LijstVaardigheden.Add(vh);
	XmlData.Save(Curriculum);
	}

	void Delete(Vaardigheden weg)
	{
	Curriculum.LijstVaardigheden.Remove(weg);
	XmlData.Save(Curriculum);
	}
}