<div class="datadrager-card" style="background-color:none">
        <fieldset>
        <legend><span class="fs-span">&nbsp;Sterk&nbsp;</span></legend>
            <table>
                <tr>
					<td style="width:10%">
						<select style="border-radius:18px" name="cars" id="cars">
							<option value="volvo">Gebit</option>
							<option value="saab">Hoofdrekenen</option>
							<option value="mercedes">Gewapend Beton</option>
							<option value="audi">Olifant</option>
							<option value="audi">Sleepboot</option>
							<option value="audi">Strohrum</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="width:10%">
						<select style="border-radius:18px" name="cars" id="cars">
							<option value="volvo">Ajax</option>
							<option value="saab">Feyenoord</option>
							<option value="mercedes">PSV</option>
							<option value="audi">Roda</option>
							<option value="audi">Roda</option>
							<option value="audi">Roda</option>
							<option value="audi">Roda</option>
							<option value="audi">Roda</option>
							<option value="audi">Roda</option>
							<option value="audi">Roda</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="width:10%">
						<select style="border-radius:18px" name="cars" id="cars">
							<option value="volvo">Pizza</option>
							<option value="saab">Canard D'Orange</option>
							<option value="mercedes">Kapsalon</option>
							<option value="audi">Vegetarische Ovenschotel</option>
							<option value="audi">Kip Nutella</option>
							<option value="audi">Tapas</option>
							<option value="audi">Chips</option>
							<option value="audi">Maaltijdsalade</option>
							<option value="audi">Anders</option>
						</select>
					</td>
                </tr>
            </table>
        </fieldset>
	<fieldset>
		<legend><span class="fs-span">&nbsp;Zwak&nbsp;</span></legend>
		<table>
			<tr>
				<td style="width:10%">
					<select style="border-radius:18px" name="cars" id="cars">
						<option value="Voor chocolade">Voor chocolade</option>
						<option value="saab">Saab</option>
						<option value="mercedes">Mercedes</option>
						<option value="audi">Audi</option>
						<option value="audi">Toyota</option>
						<option value="audi">Daf33</option>
						<option value="audi">Ferrari</option>
					</select>
				</td>
			</tr>
			<tr>
				<td style="width:10%">
					<select style="border-radius:18px" name="cars" id="cars">
						<option value="volvo">Ajax</option>
						<option value="saab">Feyenoord</option>
						<option value="mercedes">PSV</option>
						<option value="audi">Roda</option>
						<option value="audi">Roda</option>
						<option value="audi">Roda</option>
						<option value="audi">Roda</option>
						<option value="audi">Roda</option>
						<option value="audi">Roda</option>
						<option value="audi">Roda</option>
					</select>
				</td>
			</tr>
			<tr>
				<td style="width:10%">
					<select style="border-radius:18px" name="cars" id="cars">
						<option value="volvo">Pizza</option>
						<option value="saab">Canard D'Orange</option>
						<option value="mercedes">Kapsalon</option>
						<option value="audi">Vegetarische Ovenschotel</option>
						<option value="audi">Kip Nutella</option>
						<option value="audi">Tapas</option>
						<option value="audi">Chips</option>
						<option value="audi">Maaltijdsalade</option>
						<option value="audi">Anders</option>
					</select>
				</td>
			</tr>
		</table>
	</fieldset>

</div>


@code {
    [CascadingParameter]
    public Curriculum Curriculum { get; set; }
}