<div>
    <form>
        <fieldset>
            <legend>&nbsp;Menu&nbsp;</legend>
            <div id="grad1">
                <div class="n3">
                    <NavLink class="nav-link" style="text-decoration: none" href="CV">
                        <span class="oi oi-plus" aria-hidden="true"></span> Maken/Bewerken
                    </NavLink>
                </div>
                <div class="n3">
                    <NavLink class="nav-link" style="text-decoration: none" href="CV_View/CV">
                        <span class="oi oi-plus" aria-hidden="true"></span> Bewonderen
                    </NavLink>
                </div>
                <div class="n3">
                    <NavLink class="nav-link" style="text-decoration: none" href="todo">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Todo
                    </NavLink>
                </div>
                <div class="n3">
                    <NavLink class="nav-link" style="text-decoration: none" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
                <div class="n3">
                    <NavLink class="nav-link" style="text-decoration: none" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </div>
                <div class="n3">
                    <NavLink class="nav-link" style="text-decoration: none" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Bewonderen
                    </NavLink>
                </div>
            </div>
        </fieldset>
    </form>
</div>


@code {
    [CascadingParameter]
    public Curriculum Curriculum { get; set; }
}