<div>
    <form>
        <fieldset>
            <legend>&nbsp;Vrijetijdsbesteding&nbsp;</legend>
<table>
    @foreach (var item in Curriculum.LijstVrijetijdsbesteding)
        {
            <tr>
                <td>Vrijetijdsbesteding</td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Activiteit</td>
                <td><input @bind="item.Activiteit" /></td>
            </tr>
        }
</table>
        </fieldset>
    </form>
</div>


@code {
    [CascadingParameter]
    public Curriculum Curriculum { get; set; }
}