<div>
    <form style="height: 100%">
        <fieldset style="height: 94%">
            <legend>&nbsp;Opleiding&nbsp;</legend>
            <table>
                @foreach (var item in Curriculum.LijstOpleiding)
                {
                    <tr>
                        <td>Opleiding</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Naam Opleiding</td>
                        <td><input @bind="item.NaamOpleiding" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Niveau</td>
                        <td><input @bind="item.Niveau" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diploma</td>
                        <td><input @bind="item.Diploma" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Toelichting</td>
                        <td><input @bind="item.Toelichting" /></td>
                    </tr>
                    <tr>
                        <td><input type="color" id="favcolor" name="favcolor" value="red"></td>
                        <td></td>
                    </tr>
                }
            </table>
        </fieldset>
    </form>
</div>


@code {
    [CascadingParameter]
    public Curriculum Curriculum { get; set; }
}