@page "/about"

<PageTitle>About</PageTitle>

<style>
	.flex{
		display: flex;
		padding-bottom: 15px;
		flex-wrap: wrap;
		justify-content: center;
		background-color: white;
		border-radius: 24px;
	}

	.flex > div {
		background-color: red;
		margin: 10px;
		padding: 15px;
		font-size: 13px;
		border-radius: 24px;
	}

	p{
		font-size: 14px;
		padding: 40px;
	}

	span {
		border: 1px solid black;
		background-color: lightpink;
		margin-left:1px;

	}

	div{
		width:300px;
		height: 550px;
		background-color: purple; /* For browsers that do not support gradients */
		/*background-image: linear-gradient(purple,red, yellow);*/
		background-image: linear-gradient(yellow,green,blue,purple, red, yellow);
	}
</style>


<h1>House of Colors Heerlen</h1>

<p>
	Stel je ontwikkelt dit verder als portal site voor organisaties/ondernemers die een meerwaarde erin zien om samen op een site
	te staan. Je zou de huidige site dus kunnen uitbouwen zodat elke huurder een eigen pagina heeft. Dan moet de data set een soort CV van de
	kunstenaar/onderneming zijn. BedrijfsCV BCV

	Dus BEE als eerste erin stoppen

	xxx
	waarom lukt het nooit om creatief denken in organisaties te ontketenen?

	Ten eerste denken de meeste mensen bij het woord creatief aan kunst en kunstzinnigheid. "Ik creatief? Nee, ik kan niks van tekenen of zo".

	Dus als je het begrip creativiteit binnen een organisatie gebruikt dan begrijpen mensen niet goed waar je het over hebt.
	Je kunt dan uitleggen wat er precies mee wordt bedoeld en dan nog zullen veel mensen niet weten wat er mee wordt bedoeld. Voor hen 
	blijft het een kwaliteit die voorbehouden is aan genieen en kunstenaars.

	Dat is jammer want ook de mensen die van zich zelf denken dat ze niet creatief zijn aangelegd zijn dagelijks creatief maar 
	zien dat niet als creatief. 

	We verstoppen het woord creatief. We schakelen over naar vindingrijkheid. Dat woord begrijpt iedereen op dezelfde manier. Het is veel
	makkelijker om mensen te laten inzien dat ze dagelijks vindingrijk bezig zijn dan ze te laten begrijpen dat ze verstopt zijn.

	Vindingrijk: iets op een slimme, handige manier doen die je zelf bedacht hebt. Kenmerkend is dat de slimme manier niet de standaard of verwachte
	manier is. Ook typisch is het flexibel omgaan met de regels die in dat speciale geval gelden. En er is een motivatie nodig om 
	een slimme oplossing te vinden. Van binnenuit: motivatie om ergens een slaatje uit te slaan of een voordeeltje binnen te slepen. Iemand een hak willen
	zetten of gewoon omdat je iets graag wil. Van buitenaf: als iemand het water tot aan de lippen staat. Nood breekt wet.
	
	EN nog iets belangrijks: de context. de slimme oplossing maakt altijd gebruik van wat in de context beschikbaar is. McGyver die uit een oude buizenradio 
	een onderzeeboot maakt die een versleuteld bericht stuurt naar de server van het pentagon en zo de sabotageplannen van een groep extremisten
	verijdeld.


	nog net op tijd enz maak 

	Omdat iedereen binnen de context van een organisatie meteen op de "nu moet ik "


	@for (int i = 0; i < 40; i++)
{
	<span>&nbsp;&nbsp;</span>
		}
	

	</p>

	<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<div>

</div>


	@code {
	// 	// deze pagina moet nog ergens op de frontpagina een link krijgen en is nog niet klaar

	string a = "dit was 1";
	private int currentCount = 0;

	[Parameter]
	public int IncrementAmount { get; set; } = 1;

	private void IncrementCount()
	{
	currentCount += IncrementAmount;
	}

	string g = "<ViewMenu />";

	
}
