body {
    display: block;
    margin: 0px;
}

table {
    border-radius: 4px;
    border: none;
    width: 200px;
}

td {
    border: none;
}

a {
    font-size: 14px;
    text-decoration: none !important;
}

    a:link {
        color: black;
    }

    a:visited {
        color: black;
    }

input {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 24px;
    width: 150px;
    background-color: white;
}

    input[type=text]:focus {
        border: 1px solid #000;
    }

fieldset {
    border-radius: 24px;
    border-width: 2px;
    /*		text-align: center;*/
}

button {
    background-color: transparent;
    border: none;
    align-items: center;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.item6 {
    grid-area: el1;
    background-color: hsl(@Top.basisKleur_Min, 100%,@RandColor.RanDom.Next(70,90)%);
}

.item7 {
    grid-area: el2;
    background-color: hsl(@Top.basisKleur_Min, 100%,@RandColor.RanDom.Next(70,90)%);
}

.item8 {
    grid-area: el3;
}

.item9 {
    grid-area: el4;
}

.item10 {
    grid-area: el5;
}

.item11 {
    grid-area: el6;
}

.container {
    position: absolute;
}

.grid-container {
    position: absolute;
    top: 0px;
    z-index: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 30px;
    background-color: hsl(@Top.basisKleur,50%,20%);
    padding: 30px;
    border-radius: 24px;
    grid-template-areas:
        "header"
        "menu"
        "main"
        "right"
        "footer"
        "el1"
        "el2"
        "el3"
        "el4"
        "el5"
        "el6";
}

    .grid-container > div {
        background-color: hsl(@Top.basisKleur,50%,80%);
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        font-size: 11px;
        color: hsl(@Top.basisKleur,50%,@RandColor.RanDom.Next(30, 50)%);
        border-radius: 30px;
        text-align: left;
        flex-direction: column;
    }

/*@@media (min-width: 641px)*/
#top-r {
    padding: 10px;
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #d6d5d5;
    /*justify-content: flex-end;*/
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: hsl(@Top.basisKleur_Min, 100%,80%);
}

.btn-primary {
    color: #000;
    background-color: hsl(@Top.basisKleur, 100%, 50%);
    padding: 17px;
    /*width: 90px;*/
    border: 1px solid;
    border-color: gray;
    border-radius: 24px;
}

    .btn-primary:hover {
        background-color: hsl(@(Top.basisKleur + 20), 100%, 50%);
        transform: scale(0.7);
    }

.flex-container {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 3;
    display: flex;
    padding-bottom: 15px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: none;
    /*background-color: hsl(@Top.basisKleur,50%,80%);*/
    border-radius: 24px;
    /*			border: 5px solid hsl(@Top.basisKleur_Min,50%,60%);*/
}

    .flex-container > div {
        background-image: linear-gradient(to left top, hsl(@Top.basisKleur,@RandColor.RanDom.Next(30, 90)%, @RandColor.RanDom.Next(20,90)%), hsl(@Top.basisKleur,@RandColor.RanDom.Next(30, 90)%, @RandColor.RanDom.Next(20,90)%));
        margin: 10px;
        padding: 15px;
        font-size: 13px;
        border-radius: 24px;
        border: 1px solid rgb(100,100,100);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .flex-container > header {
        display: flex;
        flex-direction: column;
        background-color: hsl(@Top.basisKleur,@RandColor.RanDom.Next(20, 80)%,@RandColor.RanDom.Next(20, 80)%);
        margin: 10px;
        padding: 15px;
        font-size: 13px;
        border-radius: 24px;
        border: 1px solid rgb(100,100,100);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

        .flex-container > header > div {
            background-color: hsl(@Top.basisKleur,@RandColor.RanDom.Next(20, 80)%,@RandColor.RanDom.Next(20, 80)%);
            margin: 10px;
            font-size: 13px;
            border-radius: 24px;
            border: 1px solid rgb(100,100,100);
        }

            .flex-container > header > div:hover {
                transform: scale(1.1);
            }

.basic {
    display: flex;
    padding: 15px;
    align-items: flex-end;
    justify-content: flex-end;
}

.basiccenter {
    display: flex;
    padding: 15px;
    align-content: center;
    justify-content: center;
    margin-right: 20px
}

img {
    border-radius: 24%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.minus {
    background-image: url(minus-white.png);
}

.plus {
    background-image: url(plus-circle.png);
}

.rotate {
    padding: 5px;
    font-size: 11px;
    color: rgb(100,100,100);
    z-index: -1;
    position: relative;
}

.divcolorbuttons {
    background-color: hsl(@Top.basisKleur,@RandColor.RanDom.Next(20, 80)%,@RandColor.RanDom.Next(20, 80)%);
    margin: 5px;
    padding: 12px;
    font-size: 13px;
    border-radius: 24px;
    border: 1px solid rgb(100,100,100);
}

.d1, .d2, .d3, .d4, .d5, .d6 {
    border: 1px solid rgb(100,100,100);
    padding: 12px;
    width: 15px;
    height: 15px;
    border-radius: 55%;
    margin: 5px;
}

.d1 {
    background-color: hsl(@Top.basisKleur,@RandColor.RanDom.Next(20, 80)%,25%);
}

.d2 {
    background-color: hsl(@Top.basisKleur,@RandColor.RanDom.Next(20, 80)%,30%);
}

.d3 {
    background-color: hsl(@Top.basisKleur,@RandColor.RanDom.Next(20, 80)%,45%);
}

.d4 {
    background-color: hsl(@Top.basisKleur,@RandColor.RanDom.Next(20, 80)%,60%);
}

.d5 {
    background-color: hsl(@Top.basisKleur,@RandColor.RanDom.Next(20, 80)%,75%);
}

.d6 {
    background-color: hsl(@Top.basisKleur,@RandColor.RanDom.Next(20, 80)%,90%);
}

.werkervaring {
    display: flex;
    /*flex-direction: @direction;*/
    flex-wrap: wrap;
    justify-content: center;
}

