@inherits LayoutComponentBase

@using Mijn_Curriculum_Vitae.CV_Edit

<PageTitle>Old School Presents</PageTitle>

<style>
    #grad1 
    {
        height: 250px;
        background-color: purple; /* For browsers that do not support gradients */
        @{
        //background - image: linear - gradient(purple, red, yellow);
 }
        
        background-image: linear-gradient(@randColor(), @randColor() );
        
        border: 2px black;
        padding-top:20px;
        padding-right: 70px;
        padding-left:20px;
        border-radius: 24px;
        float: left;
    }
    a {
        color: black;
        font-size: 14px;
        padding:10px;
    }

    .fflex-container {
        display: flex;
        flex-direction: row;
        border: 2px black;

    }

    .n3
    {
        padding: 10px;
    }
</style>
<EditBackground />
<div>
    <div class="top-row px-4" style="position: sticky; border-radius: 16px;justify-content: left; background-color: whitesmoke">
        <p style="position:center">a <b>B</b>e <b>N</b>asty <b>P</b>roduction in association with <b>W</b>esp <b>W</b>orks - where dreams work and works dream - or whatever - anyway, we're unemployed and doomed</p>
    </div>
    
    <div>
        <div class="flex-container">
            <article class="content px-4">
                @Body
            </article>
        </div>
    </div>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
    collapseNavMenu = !collapseNavMenu;
    }

    public static Random rand = new Random();
    string randColor()
    {
    int r = rand.Next(150, 255);
    int g = rand.Next(150, 255);
    int b = rand.Next(150, 255);

    string randc = $"rgb(" + r.ToString() + "," + g.ToString() + "," + b.ToString() + ")";
    return randc;

    }
}


