@inherits LayoutComponentBase





<style>
	.icebar{
		
	}
</style>
<PageTitle>Old School Presents</PageTitle>

<div class="page">
	<div style="border-radius:24px;" class="icebar">
		@*<NavMenu />*@
    </div>
    
    <main>

@*		<div class="top-row px-4" style="border-radius:24px; margin-left:5px;justify-content: left; background-color: whitesmoke">
			<p style="position:center; ">&nbsp;&nbsp;&nbsp;&nbsp; <b>BEƎ-Ideas</b> - <b>H</b>ouse of <b>C</b>olors - <b>H</b>uskensweg 17b <b>H</b>eerlen - Where dreams work and work dreams</p>
        </div>*@

        <article class="content px-4">
            
@Body
        </article>
    </main>
</div>



@code{
	public Colors Top;

	
	public class Globl
	{
		
		Globl()
		{
			
		}
	}

}

